<header id="header" class="rt-dark rt-submenu-light"><div class="rt-header-inner"> <div data-elementor-type="section" data-elementor-id="3001" class="elementor elementor-3001" data-elementor-settings="[]">
<div class="elementor-section-wrap">
<section class="elementor-section elementor-top-section elementor-element elementor-element-d8c7de5 elementor-section-stretched elementor-section-full_width rt-inner-header elementor-section-height-default elementor-section-height-default" data-id="d8c7de5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-66c2468" data-id="66c2468" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-60accbb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="60accbb" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3bed7a7" data-id="3bed7a7" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-ced4112 radiantthemes-retina elementor-widget elementor-widget-radiant-custom-logo" data-id="ced4112" data-element_type="widget" data-widget_type="radiant-custom-logo.default">
<div class="elementor-widget-container">
<div class="elementor-element-populated"><a href="<%= root_path %>"><span class="logo-rt-dark"><img src="/assets/logo.png" alt="logo" width=auto height="45" data-logoWidth=auto></span></a></div> </div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6e26553" data-id="6e26553" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-fbafc8b custom-mega-menu elementor-widget elementor-widget-radiant-header_custom_menu" data-id="fbafc8b" data-element_type="widget" data-widget_type="radiant-header_custom_menu.default">
<div class="elementor-widget-container">
<div id="rt-mainMenu-trigger"> <a class=""><span class="lines"></span></a> </div>
<div id="rt-mainMenu" class="" style="min-height: 0px;">
<nav>
<ul id="menu-inner-pages-menu" class="elementor-nav-menu"><li id="menu-item-52724" class="menu-item menu-item-type-post_type menu-item-object-mega_menu menu-item-52724  rt-dropdown mega-menu-item mx-4"><a href="<%= root_path %>" data-description="">Home</a><ul class="rt-dropdown-menu"><li class="mega-menu-content"> <div data-elementor-type="wp-post" data-elementor-id="52720" class="elementor elementor-52720" data-elementor-settings="[]">
</div>
</li></ul></li>
<li id="menu-item-36307" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent  menu-item-36307 rt-dropdown mx-4"><a href="<%= services_path %>" data-description="">Services</a>

</li>
<li id="menu-item-35220" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-35220 rt-dropdown mx-4"><a href="<%= about_path %>" data-description="">About</a>

</li>

<li id="menu-item-36814" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36814 rt-dropdown mx-4"><a href="<%=  contact_path %>" data-description="">Contact Us</a>
</li>
</ul> </nav>
</div>

<div class="default-search">
<div class="rt-search-box2">
<div class="container">
<!-- <i class="search-btn2 ti-search"></i> -->
<div id="search-overlay2" class="block2">
<div class="container">
<div class="search-area-grid">
<div id='search-box2' class="col-md-10 col-10">
<form action="https://softek.radiantthemes.com/" id="search-form" method="get" target="_top">
 <button id='search-button2' type='submit'>
<i class="rt-search-btn2 ti-search"></i>
</button>
<input id="search-text" name="s" placeholder="Type your search" type="text" />
</form>
</div>
<div class="col-md-2 col-2" id="close-btn2"><i class="ti-close"></i></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</section>
</div>
</div>
</div>
</section>
</div>
</div>
</div></header> 